* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Nunito";
  src: url(../src/assets/fonts/NunitoSans.ttf);
}

:root {
  --swiper-pagination-color: rgb(255, 255, 255) !important;
  --swiper-pagination-bullet-width: 15px;
  --swiper-pagination-bullet-height: 15px;
}



body {
  background-image: url(../src/assets/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
